{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "camelcase": 2,
    "comma-dangle": [1, "always-multiline"],
    "eqeqeq": 2,
    "indent": [2, 2, {
      "SwitchCase": 1,
      "VariableDeclarator": { "var": 2, "let": 2, "const": 3}
    }],
    "no-console": 0,
    "no-trailing-spaces": 1,
    "quotes": [2, "single"],
    "space-before-blocks": 2
  }
}
